#!/usr/bin/env bash

. /usr/lib/spark-1.6.0-bin-hadoop2.6/bin/load-spark-env.sh

export SPARK_LOCAL_IP={{ masterhost }}

trap 'kill -TERM $PID' TERM INT
/usr/lib/jvm/java-8-oracle/jre/bin/java -cp /usr/lib/spark-1.6.0-bin-hadoop2.6/conf/:/usr/lib/spark-1.6.0-bin-hadoop2.6/lib/spark-assembly-1.6.0-hadoop2.6.0.jar:/usr/lib/spark-1.6.0-bin-hadoop2.6/lib/datanucleus-rdbms-3.2.9.jar:/usr/lib/spark-1.6.0-bin-hadoop2.6/lib/datanucleus-core-3.2.10.jar:/usr/lib/spark-1.6.0-bin-hadoop2.6/lib/datanucleus-api-jdo-3.2.6.jar \
    -Xms1g \
    -Xmx1g \
    org.apache.spark.deploy.master.Master \
    --ip 10.1.0.100 \
    --port 7077 \
    --webui-port 8080 & PID=$!
wait $PID
trap - TERM INT
wait $PID
EXIT_STATUS=$?
