[program:spark-master]
command={{ spark_lib_dir }}/spark-executor.sh
stdout_logfile={{ spark_log_dir }}/spark-master.log
autostart=true
autorestart=false
user={{ spark_user }}
killasgroup=true
stopasgroup=true
